{% if page.features_overview %}
<section id="features-overview" class="container my-xl-7 py-5">
   <div class="row justify-content-center mb-5">
      <div class="col-xl-8 col-lg-10 col-12">
         <div class="text-center d-flex flex-column gap-4">
            <div class="d-flex justify-content-center">
               <span class="bg-primary bg-opacity-10 text-primary border-primary border px-3 py-2 fs-6 rounded-pill lh-1 align-items-center d-flex">
                  <i class="bi bi-stars me-2"></i>
                  <span class="text-uppercase ls-md fw-semibold">{{ page.features_overview.section_title }}</span>
               </span>
            </div>
            <div class="d-flex flex-column gap-3 mx-lg-8">
               <h1 class="mb-0">{{ page.features_overview.title }}</h1>
               {% if page.features_overview.description %}
               <p class="mb-0 lead">{{ page.features_overview.description }}</p>
               {% endif %}
            </div>
         </div>
      </div>
   </div>

   <div class="row g-4 mt-3">
      <div class="col-lg-6 col-12">
         <div class="border rounded-3 bg-body-tertiary bg-opacity-50 overflow-hidden h-100 position-relative">
            <div class="pattern-square"></div>
            <div class="p-lg-6 p-5 d-flex flex-column gap-4">
               <div class="icon-shape icon-xl bg-primary bg-opacity-10 rounded-3 border border-primary">
                  <i class="bi {{ page.features_overview.for_teams.icon }} fs-3 text-primary"></i>
               </div>
               <div>
                  <h3>{{ page.features_overview.for_teams.title }}</h3>
                  <p class="text-body-secondary mb-3">{{ page.features_overview.for_teams.tagline }}</p>
                  <p class="mb-3">{{ page.features_overview.for_teams.description }}</p>
                  <div class="d-flex align-items-center gap-2 mb-4">
                     <i class="bi bi-check-circle-fill text-success"></i>
                     <p class="mb-0 fw-medium">{{ page.features_overview.for_teams.key_benefit }}</p>
                  </div>
               </div>
               {% if page.features_overview.for_teams.image %}
               <figure class="mb-4">
                  <img src="{{ page.features_overview.for_teams.image | relative_url }}" class="img-fluid rounded border border-primary border-opacity-25">
               </figure>
               {% endif %}
               {% if page.features_overview.for_teams.cta %}
               <div>
                  <a href="{{ page.features_overview.for_teams.cta.url | default: site.signup_url }}" class="btn btn-primary">{{ page.features_overview.for_teams.cta.text }}</a>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
      
      <div class="col-lg-6 col-12">
         <div class="border rounded-3 bg-body-tertiary bg-opacity-50 overflow-hidden h-100 position-relative">
            <div class="pattern-square"></div>
            <div class="p-lg-6 p-5 d-flex flex-column gap-4">
               <div class="icon-shape icon-xl bg-info bg-opacity-10 rounded-3 border border-info">
                  <i class="bi {{ page.features_overview.for_creators.icon }} fs-3 text-info"></i>
               </div>
               <div>
                  <h3>{{ page.features_overview.for_creators.title }}</h3>
                  <p class="text-body-secondary mb-3">{{ page.features_overview.for_creators.tagline }}</p>
                  <p class="mb-3">{{ page.features_overview.for_creators.description }}</p>
                  <div class="d-flex align-items-center gap-2 mb-4">
                     <i class="bi bi-check-circle-fill text-success"></i>
                     <p class="mb-0 fw-medium">{{ page.features_overview.for_creators.key_benefit }}</p>
                  </div>
               </div>
               {% if page.features_overview.for_creators.image %}
               <figure class="mb-4">
                  <img src="{{ page.features_overview.for_creators.image | relative_url }}" class="img-fluid rounded border border-info border-opacity-25">
               </figure>
               {% endif %}
               {% if page.features_overview.for_creators.cta %}
               <div>
                  <a href="{{ page.features_overview.for_creators.cta.url | default: site.signup_url }}" class="btn btn-info text-white">{{ page.features_overview.for_creators.cta.text }}</a>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</section>
{% endif %} 