{%- comment -%}
  Card layout with media at the start (left) and content on the right.
  Expects:
    media, media_image, media_video, media_code
    content, content_body, buttons
    text_align_class, has_content, video_attrs
    copy_label, copied_label
{%- endcomment -%}

{%- assign media_obj = include.media -%}
{%- assign content_obj = include.content -%}

{%- assign media_col_class = 'col-12' -%}
{%- if media_obj and media_obj.class -%}
  {%- assign media_col_class = media_col_class | append: ' ' | append: media_obj.class -%}
{%- else -%}
  {%- assign media_col_class = media_col_class | append: ' col-md-6' -%}
{%- endif -%}

{%- assign content_col_class = 'col-12' -%}
{%- if content_obj and content_obj.class -%}
  {%- assign content_col_class = content_col_class | append: ' ' | append: content_obj.class -%}
{%- else -%}
  {%- assign content_col_class = content_col_class | append: ' col-md-6' -%}
{%- endif -%}

<div class="row g-0 align-items-stretch">
  <div class="{{ media_col_class }}">
    {%- include card-template/blocks/partials/cards/media/render.html
      media=media_obj
      image=include.media_image
      video=include.media_video
      code=include.media_code
      variant='start'
      has_content=include.has_content
      video_attrs=include.video_attrs
      copy_label=include.copy_label
      copied_label=include.copied_label
    -%}
  </div>
  {%- if content_obj -%}  
  <div class="{{ content_col_class }}">
    <div class="card-body {{ include.text_align_class }}">
      {%- include card-template/blocks/partials/content.html
        content=content_obj
        content_body=include.content_body
        buttons=include.buttons
        icon_class=include.icon_class
        eyebrow_variant=include.eyebrow_variant
        eyebrow_class=include.eyebrow_class
        title_tag=include.title_tag
        title_class=include.title_class
        subtitle_class=include.subtitle_class
        body_class=include.body_class
      -%}
    </div>
  </div>
  {%- endif -%}
</div>
