<footer class="site-footer h-card">
   <div class="container">


   </div>

    <div class="container d-none">
       <!-- Footer 4 column -->
       <div class="row">
          <div class="col-lg-9 col-12">
             <div class="row" id="ft-links">
                <div class="col-lg-12 col-12">
                   <div class="position-relative">
                      <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0">
                         <h4>Service</h4>
                         <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseLanding" role="button" aria-expanded="true" aria-controls="collapseLanding">
                            <i class="bi bi-chevron-down"></i>
                         </a>
                      </div>
                      <div class="d-lg-block collapse show" id="collapseLanding" data-bs-parent="#ft-links" style="">
                         <ul class="list-unstyled mb-0 py-3 py-lg-0">
                            <li class="mb-2">
                               <a href="./index.html" class="text-decoration-none text-reset">Web App Development</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">Front End Development</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">MVP Development</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">Digital Marketing</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">Content Writing</a>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4 col-12 d-none">
                   <div>
                      <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
                         <h4>About us</h4>
                         <a class="d-block d-lg-none stretched-link text-body collapsed" data-bs-toggle="collapse" href="#collapseAccounts" role="button" aria-expanded="false" aria-controls="collapseAccounts">
                            <i class="bi bi-chevron-down"></i>
                         </a>
                      </div>
                      <div class="collapse d-lg-block" id="collapseAccounts" data-bs-parent="#ft-links">
                         <ul class="list-unstyled mb-0 py-3 py-lg-0">
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">Case Studies</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">Blog</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">Services</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">About</a>
                            </li>
                            <li class="mb-2">
                               <a href="#!" class="text-decoration-none text-reset">Career</a>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4 col-12 d-none">
                   <div class="mb-3 pb-2 d-flex justify-content-between border-bottom border-bottom-lg-0 position-relative">
                      <h4>Technology</h4>
                      <a class="d-block d-lg-none stretched-link text-body collapsed" data-bs-toggle="collapse" href="#collapseResources" role="button" aria-expanded="false" aria-controls="collapseResources">
                         <i class="bi bi-chevron-down"></i>
                      </a>
                   </div>
                   <div class="collapse d-lg-block" id="collapseResources" data-bs-parent="#ft-links">
                      <ul class="list-unstyled mb-0 py-3 py-lg-0">
                         <li class="mb-2">
                            <a href="./docs/index.html" class="text-decoration-none text-reset">Next.js</a>
                         </li>
                         <li class="mb-2">
                            <a href="#!" class="text-decoration-none text-reset">Sanity</a>
                         </li>
                         <li class="mb-2">
                            <a href="./changelog.html" class="text-decoration-none text-reset">Content ful</a>
                         </li>
                         <li class="mb-2">
                            <a href="#!" class="text-decoration-none text-reset">Vercel</a>
                         </li>
                         <li class="mb-2">
                            <a href="#!" class="text-decoration-none text-reset">Netlify</a>
                         </li>
                      </ul>
                   </div>
                </div>

             </div>
          </div>
          <div class="col-lg-3 col-12">
             <div class="me-7">
                <h4 class="mb-4">Headquarters</h4>
                <p class="text-body-secondary">
                  Beatspoken LLC.<br>
                  8 The Green, STE B<br>
                  Dover, DE 19901
               </p>
             </div>
          </div>
       </div>
    </div>
    <div class="container mt-2 pt-lg-7 pb-4 mt-4">
       <hr/>
       <div class="row jualign-items-center">
          <div class="col-md-3">
            <a class="navbar-brand d-flex align-items-center" href="{{ "/" | relative_url }}">
              <img src="{{ '/assets/images/chatterkb-logo-ex.png' | relative_url }}" alt="ChatterKB Logo" class="logo-image">
              <span class="logo-text">Chatter<span style="color: darkgray;">KB</span></span>
            </a>
          </div>
          <div class="col-md-9 col-lg-6 ">
             <div class="small mb-3 mb-lg-0 text-lg-center">
                Copyright © {{ site.time | date: '%Y' }} {{ site.company_name }}
             </div>
          </div>
          <div class="col-lg-3">
             <div class="text-lg-end d-flex align-items-center justify-content-lg-end">
               <div class="me-3"><a href="{{ '/privacy' | relative_url }}" class="text-decoration-none text-reset small">Privacy Policy</a></div>
               <div class="me-3"><a href="{{ '/terms' | relative_url }}" class="text-decoration-none text-reset small">Terms</a></div>
               <div><a href="{{ '/articles' | relative_url }}" class="text-decoration-none text-reset small">Articles</a></div>
             </div>
          </div>
       </div>
    </div>
 
</footer>

<script>
   scrollCue.init({interval:-400,duration:600,percentage:.8}),scrollCue.update();
</script>