<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" data-bs-theme="light">

  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content" style="margin-top: 60px;">
      <div class="wrapper">
        <div class="d-flex justify-content-center align-items-center">
          <img src="{{ '/assets/images/chatterkb-logo.png' | relative_url }}" alt="ChatterKB Logo" style="width: 160px;">
        </div>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
