{% if page.solution %}
<div class="pattern-square"></div>
<section class="container my-xl-7 py-5 px-4" data-cue="fadeIn">
   <div class="text-center d-flex flex-column mt-7 mb-5" data-cue="zoomIn" data-group="page-title" data-delay="700" style="animation-name: zoomIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 700ms; animation-direction: normal; animation-fill-mode: both;">
      <div class="d-flex flex-column gap-3 mx-lg-8">
         <h1 class="mb-0">{{ page.solution.title }}</h1>
         {% if page.solution.description %}
         <p class="mb-0 lead">{{ page.solution.description }}</p>
         {% endif %}
         <div class="d-flex flex-row gap-4 justify-content-center">
            <a href="{{ page.solution.button.url }}" class="btn btn-primary">{{ page.solution.button.text }}</a>
         </div>
      </div>
   </div>
   
   {% if page.solution.video_url %}
   <div class="ratio ratio-16x9 mt-5" data-cue="slideInUp">
      {% if page.solution.video_type == 'html5' %}
         <video controls class="rounded-4 shadow-lg">
            <source src="{{ page.solution.video_url }}" type="video/mp4">
            Your browser does not support the video tag.
         </video>
      {% else %}
         <iframe src="{{ page.solution.video_url }}" 
                 title="Solution Video" 
                 allowfullscreen 
                 class="rounded-4 shadow-lg">
         </iframe>
      {% endif %}
   </div>
   {% endif %}
   
</section>

{% endif %}